/****************************/
/***** Global Variables *****/
/****************************/

:root {
	--blue-color: #0075ff;
	--blue-alt-color: #0d69d5;
	--orange-color: #f59e0b;
	--green-color: #22c55e;
	--red-color: #f44336;
	--grey-color: #888;
}

/* Start Flex */

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

/* End Flex */

/* Start Colors */

.bg-white {
	background-color: white;
}

.txt-black {
	color: black;
}

/* End Colors */

/* Start Text */

.txt-cntr {
	text-align: center;
}

/* End Text */

/* Start Box Model */

.w-full {
	width: 100%;
}

.m-20 {
	margin: 20px;
}

.mt-0 {
	margin-top: 0;
}

.p-10 {
	padding: 10px;
}

.p-15 {
	padding: 15px;
}

.p-20 {
	padding: 20px;
}

/* End Box Model */

/* Start Position */

.relative {
	position: relative;
}

/* End Position */

/* Start Border */

.rad-6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

/* End Border */

/* Start Helper Classes */

@media (max-width: 767px) {
	.hide-mobile {
		display: none;
	}
}

/* End Helper Classes */

/* Start Components */

.between-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* End Components */

.hide-overflow {
	overflow: hidden;
}
